.systemMessage {
    margin: 0 0 16px;
    font-size: 14px;
    color: #065f46;
    background-color: #ecfdf5;
    border: 1px solid #a7f3d0;
    border-radius: 8px;
    padding: 8px 10px;
}

.systemMessageError {
    margin: 0 0 16px;
    font-size: 14px;
    color: #991b1b;
    background-color: #fef2f2;
    border: 1px solid #fecaca;
    border-radius: 8px;
    padding: 8px 10px;
}
